<!-- <img src="/assets/images/home_bg.jpg" width="100%" height="550"> -->
<div class="card p-mx-5 p-mt-5 p-p-5 view shadow p-3 mb-5 bg-white rounded d-flex justify-content-center text-center">
    <div class="row d-flex justify-content-center text-center">
        <ul class="mx-3 mt-3 view-style">
            <li class="nav-view">
                <a class="nav-link " [routerLink]="['/shipmentplanGen']">Shipment Plan Generation</a>
            </li>
            <li class="nav-view">
                <a class="nav-link" [routerLink]="['/shipmentplanapproval']">Shipment Plan Approval</a>
            </li>
            <li class="nav-view">
                <a class="nav-link" [routerLink]="['/CancelShipment']">Cancel Shipment Plan</a>
            </li>
            <li class="nav-view">
                <a class="nav-link" [routerLink]="['/cancelshipmentapproval']">Cancel Shipment Approval</a>
            </li>
        </ul>
    </div>
</div>