
  .colour{
    background-color: #0682bb;
    border-color: #0a7fb6;
   }
  .button {
    height: 50px;
    width: 20%;
    background-color: #0682bb;
  }
  .p-float-label
  {
    float: right;
  }
  .float-md-right {
    text-align: center;
  }

  .columnWidth{
      width: 170px;
  }
  .dropdownstyle{
    max-width: fit-content;
    white-space: nowrap;
  }
  .viewstyle{
    padding-right:20px;

  }
  .p-adjust{
    height: 2rem;
}